<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

    <div th:replace="navbar :: navbar"></div>

    <div class="container text-center">

        <h3><a th:href="@{/users}">Users</a></h3>  
        <h3><a th:href="@{/teams}">Teams</a></h3> 
        <h3><a th:href="@{/players}">Players</a></h3> 
        <h3><a th:href="@{/register}">Register</a></h3>

        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        </div>
        
    </div>
</body>
</html>