<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>List Events</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/webjars/bootstrap/css/bootstrap.min.css"
    />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="/webjars/bootstrap/js/bootstrap.min.js"
    ></script>
  </head>
  <body>

    <div th:replace="navbar :: navbar"></div>

    <div class="container text-center">

      <h1>List of Events</h1>

      <div sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
        <td><p><a th:href="@{viewGames/addEvent(id=${id})}" class="btn btn-large btn-success">Add Event</a></p></td>
      </div>



      <div>

        <table class="table table-striped table-bordered">

          <tr>

              <th>Events</th>

          </tr>

          <tr th:each="e : ${events}">
            <td th:text = "${e.description}"></td>
          </tr>
        
        </table>

      </div>
    </div>
  </body>
</html>
