<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>A-E Team</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

    <div th:replace="navbar :: navbar"></div>

    <div class="container text-center">
        <div>
            <h1>ADD/EDIT TEAM</h1>
        </div>
        <form th:action="@{/process_new_team}" th:object="${team}" method="post" style="max-width: 600px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{players}" />
        <input type="hidden" th:field="*{games}" />
        <div class="m-3">

            <div class="form-group row">
                <label class="col-4 col-form-label">Team name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{name}" class="form-control"
                            required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div>
                <p>
                <button type="submit" class="btn btn-primary">Submit</button>
                </p>
            </div>
        </div>
        </form>
    </div>
</body>
</html>