<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>New Player</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

    <div th:replace="navbar :: navbar"></div>

    <div class="container text-center">
        <div>
            <h1>ADD/EDIT GAME</h1>
        </div>
        <form th:action="@{/process_new_game}" th:object="${game}"
            method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">

            <div>
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{scoreA}">
                <input type="hidden" th:field="*{scoreB}">
                <input type="hidden" th:field="*{events}">
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Location: </label>
                <div class="col-8">
                    <input type="text" th:field="*{localization}" class="form-control" required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label for="birthDate" class="col-4 col-form-label">Start date: </label>
                <div class="col-8">
                    <input type="date" th:field="*{startDate}" class="form-control" required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label for="birthDate" class="col-4 col-form-label">Start date time: </label>
                <div class="col-8">
                    <input type="time" th:field="*{startDateTime}" class="form-control" required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">State: </label>
                <div class="col-8">
                    <select id="state" th:field="*{state}" required>
                        <option th:value="unstarted">unstarted</option>
                        <option th:value="ongoing">ongoing</option>
                        <option th:value="paused">paused</option>
                        <option th:value="finished">finished</option>
                    </select>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-4 col-form-label">Team 1</label>
                <div class="col-8">
                    <select id="listTeams" th:field="*{teams}" required>
                        <option th:each="t : ${listTeams}" th:value="${{t.id}}" th:text="${t.name}"/>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Team 2</label>
                <div class="col-8">
                    <select id="listTeams" th:field="*{teams}" required>
                        <option th:each="t : ${listTeams}" th:value="${{t.id}}" th:text="${t.name}"/>
                    </select>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        </form>
    </div>
</body>
</html>