<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Games List</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

    <div th:replace="navbar :: navbar"></div>

<div class="container text-center">

    <div>
        <h1>GAMES LIST</h1>
    </div>

    <div sec:authorize="hasAnyAuthority('ADMIN')">
        <p>
            <a href="/registerGame" th:href="@{/registerGame}" class="btn btn-large btn-success">New game</a>
        </p>
    </div>
     
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Game</th>
                    <th>Result</th>
                    <th>Location</th>
                    <th>Start date</th>
                    <th>Start time</th>
                    <th>Events</th>
                    <th>State</th>
                    <div sec:authorize="hasAnyAuthority('ADMIN')">
                        <th>Edit</th>
                    </div>
                </tr>
            </thead>
            <tbody>
                <tr th:each="game: ${listGames}">
                    <td> <span th:text="${game.teams[0].name}">team1</span> vs <span th:text="${game.teams[1].name}">team2</span></td>
                    <td th:text="${game.scoreA} + '-' + ${game.scoreB}"></td>
                    <td th:text="${game.localization}">Location</td>
                    <td th:text="${#dates.format(game.startDate, 'dd-MM-yyyy')}">Starts date</td>
                    <td th:text="${game.startDateTime}">Starts time</td>
                    <td> <a th:href="@{games/events(id=${game.id})}">Events</a> </td>
                    <td th:text="${game.state}">State</td>
                    <div sec:authorize="hasAnyAuthority('ADMIN')">
                        <td><a th:href="@{'/games/edit/' + ${game.id}}">Edit</a></td>
                    </div>

                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>